@import "tailwindcss";

html, 
body, 
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

/* Menghilangkan scrollbar tapi tetap bisa scroll */
::-webkit-scrollbar {
  display: none;
}

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}