@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.page {
    padding-top: var(--static-space-12);
}

.mainContent {
    width: 100%;
}

.avatar {
    position: sticky;
    top: 64px;
}

@media (max-width: breakpoints.$s) {
    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }

    .page {
        padding-top: var(--static-space-8);
    }

    .mainContent {
        margin-top: var(--static-space-16);
    }

    .avatar {
        position: relative;
        top: 0;
    }
}
