@use "./breakpoints.scss" as breakpoints;

.mask {
    pointer-events: none;
    backdrop-filter: blur(0.5rem);
    background: linear-gradient(to bottom, var(--page-background), var(--static-transparent));
    mask-image: linear-gradient(rgba(0,0,0) 25%, rgba(0, 0, 0, 0) 100%);
    mask-size: 100% 100%;
}

.mobileInfo {
    position: relative;
    z-index: 2;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.mobileInfoLabel {
    color: #fff;
}

.mobileInfoGroup {
    display: inline-flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
    padding: 0;
}

.mobileInfoGroupLeft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mobileInfoGroupRight {
    align-items: flex-end;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: breakpoints.$s) {
    .position {
        top: auto;
        bottom: var(--static-space-24);
    }

    .mobileInfo {
        display: flex;
    }

    .mask {
        transform: rotate(180deg);
        bottom: 0;
    }
}
