@use "./breakpoints.scss" as breakpoints;

.mask {
    pointer-events: none;
    backdrop-filter: blur(0.5rem);
    background: linear-gradient(to bottom, var(--page-background), var(--static-transparent));
    mask-image: linear-gradient(rgba(0,0,0) 25%, rgba(0, 0, 0, 0) 100%);
    mask-size: 100% 100%;
}

.mobileInfo {
    position: fixed;
    top: var(--static-space-12);
    left: 0;
    right: 0;
    padding: 0 var(--static-space-12);
    z-index: 11;
    display: none;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: breakpoints.$s) {
    .position {
        top: auto;
        bottom: var(--static-space-24);
    }

    .mobileInfo {
        display: flex;
    }

    .mask {
        transform: rotate(180deg);
        bottom: 0;
    }
}
